VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

VITE_KEYAUTH_NAME=YOUR_KEYAUTH_NAME
VITE_KEYAUTH_OWNERID=YOUR_KEYAUTH_OWNERID
VITE_KEYAUTH_SECRET=YOUR_KEYAUTH_SECRET
VITE_KEYAUTH_APIURL=YOUR_KEYAUTH_APIURL

VITE_OPENROUTER_KEY=YOUR_OPENROUTER_KEY