# Fiip Mobile Environment Configuration
# Dupliquez ce fichier en '.env' et ajoutez y vos clés.

VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
VITE_CLERK_SYNC_HOST=https://clerk.fiip.fr
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
EXPO_PUBLIC_CLERK_PASSKEYS_ENABLED=false

VITE_KEYAUTH_NAME=YOUR_KEYAUTH_NAME
VITE_KEYAUTH_OWNERID=YOUR_KEYAUTH_OWNERID
VITE_KEYAUTH_SECRET=YOUR_KEYAUTH_SECRET
VITE_KEYAUTH_VERSION=1.0
