/* Custom Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

/* Base Select styling */
select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23A1A1AA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding-right: 1.5rem !important;
}

select option {
  background-color: #1e1e1e;
  color: white;
}

.ProseMirror-grammar-red {
  text-decoration: underline wavy #ff4081;
  text-decoration-thickness: 2px;
  cursor: context-menu;
}
.ProseMirror-grammar-orange {
  text-decoration: underline wavy #ffd740;
  text-decoration-thickness: 2px;
  cursor: context-menu;
}

